{% extends "base.html" %}

{% block content %}


<div class="container-fluid">
    <div class="row">
                    {% for i in s_product %}
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top img-thumbnail" src="{{i.image.url}}" alt="Card image cap" style="height:270px;">
              <div class="card-body">
                <h5 class="card-title">{{ i.title}}</h5>
                  <h6 class="card-title" style="color:red;" >{{i.price}}</h6>
                <p class="card-text">{{i.description}}</p>
                <a href="{{ i.get_absolute_url }}" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
        </div>
                    {%endfor%}
    </div>
</div>
{% endblock content %}